$primary-color: #64ff00;

:export {
  primaryColor: $primary-color;
}

.text {
  // --animation: none;
  // --textDecoration: line-through;

  animation: var(--animation);
  text-decoration: var(--textDecoration);
}

.buttonTest {
  --background: red;

  background: var(--background);
  padding: 10px;
  border: 2px solid white;
}

.textTest {
  --fontWeight: bold;
  --color: white;
  --textDecoration: underline;
  --fontSize: 16px;

  font-size: var(--fontSize);
  font-weight: var(--fontWeight);
  color: var(--color);
  text-decoration: var(--textDecoration);
}

.textCustom {
  --color: purple;
  --border: 1px solid black;

  border: var(--border);
  color: var(--color);
}

.variableText {
  --color: black;

  color: var(--color);

  &:hover {
    color: blue;
  }
}

@keyframes textAnimation {
  0% {
    color: purple;
  }

  50% {
    color: tan;
  }

  100% {
    color: purple
  }
}